html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  padding-bottom: .5em;
}

h1 {
  font-family: "Bevan", serif;
  text-align: center;
  color: #fff;
  margin: 0.3em;
  margin-bottom: 0;
}

nav {
  text-align: center;
}

nav ul {
  margin: 0.3em;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  background-color: #713837;
  color: #fff;
  padding: .6em .75em;
  margin-top: .3em;
  border-radius: 3px;
  font-family: sans-serif;
  text-decoration: none;
}

nav li a:hover {
  background-color: #f33;
}
